<section>
  <div class="container ">
    <div class="row ">
      <div class="col-md-4 ms-50">
        <h2>Add Form</h2>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data" >
          <input class="mb-2" class="mb-2" type="text" name="name" placeholder="name" />
          <input  class="mb-2" type="text" name="category" placeholder="category" />
          <input class="mb-2" type="text" name="price" placeholder="price" />
          <input class="mb-2" type="text" name="description" placeholder="description" />
          <input class="mb-2" type="file" placeholder="image"  name="image"/>
          <button class="btn btn-info" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>